<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery - A One</title>
</head>
<body>
    {% extends 'index.html' %}

    {% block content %}
        <div class="gallery-page">
            <h2>Our <span style="color: #5B7921">Moments </span> Collection</h2>

            <div class="masonry" class="animate-on-view">
                <div class="masonry-item">
                    <img src="../static/images/gallery-burger.jpg" class="lightbox-item" alt="" loading="lazy">
                </div>

                <div class="masonry-item">
                    <img src="../static/images/gallery-drink1.jpg" class="lightbox-item" alt="" loading="lazy">
                </div>

                <div class="masonry-item">
                    <img src="../static/images/gallery-pizza.jpg" class="lightbox-item" alt="" loading="lazy">
                </div>

                <div class="masonry-item">
                    <img src="../static/images/gallery-drink2.jpg" class="lightbox-item" alt="" loading="lazy">
                </div>

                
                
                <div class="masonry-item">
                    <img src="../static/images/gallery-drink5.jpg" class="lightbox-item" alt="" loading="lazy">
                </div>

                <div class="masonry-item">
                    <img src="../static/images/gallery-roll.jpg" class="lightbox-item" alt="" loading="lazy">
                </div>
                
                <div class="masonry-item">
                    <img src="../static/images/gallery-drink3.jpg" class="lightbox-item" alt="" loading="lazy">
                </div>

                <div class="masonry-item">
                    <img src="../static/images/gallery-drink4.jpg" class="lightbox-item" alt="" loading="lazy">
                </div>

                <div class="masonry-item">
                    <img src="../static/images/gallery-sandwich.jpg" class="lightbox-item" alt="" loading="lazy">
                </div>

                <div class="masonry-item">
                    <img src="../static/images/gallery-fries.jpg" class="lightbox-item" alt="" loading="lazy">
                </div>
                

                <div class="masonry-item">
                    <img src="../static/images/gallery-vegpizza.jpg" class="lightbox-item" alt="" loading="lazy">
                </div>

                <div class="masonry-item">
                    <img src="../static/images/gallery-drink6.jpg" class="lightbox-item" alt="" loading="lazy">
                </div>     
            </div>
        </div>
    {% endblock %}
</body>
</html>